mat-card {
    width: 500px;
    border: 1px solid rgb(218, 213, 213);
}
mat-card-header{
    height: 40px;
}
.h-90{
    height: 50px;
}

.open-matcard-header {
    background-color: rgb(255, 233, 111);
}
.done-matcard-header{
    background-color: rgb(72, 248, 72);
}
body {
    display: flex;
}

mat-card-content{
    height: 50px;
}
.MatIconDelete,.deletebt{
    max-height: 22px;
    height: 22px;
    width: 20px;
    margin-bottom: 10px;
    margin: 0;

    color: rgb(243, 140, 140);
}
.MatIconDoneBt{
    background-color: greenyellow;
    height: 40px;
    margin-left: 10px;
    visibility: hidden;
    
}
.doneicon{
    margin-left: 10px;
}
