<body>
  <div class="maindiv" cdkDropListGroup>
    <div class="mat-card-div">

      <label for="mat-card">
        <h1>Todos</h1>
      </label>
      <mat-card>
        <mat-card-header class="mat-card-header1"> offene Todos</mat-card-header>
        <div style="border: solid 1px;" cdkDropList
        [cdkDropListData]="todo"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

          <div *ngFor="let item of todo" cdkDrag>
            <div  class="card-content-container">
              <mat-card-content>
                <div class="todoTimeAndtodoItem"> 
                  {{item.time}} | <div class="todo"> {{ item.todo}} </div>
                </div>
              </mat-card-content>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="mat-card-div" style="margin-left: 0%;">
      <label for="mat-card">
        <h1> <br></h1>
      </label>
      <mat-card style="margin-left: 2%;">
        <mat-card-header class="mat-card-header2">Erlerdigte Todos</mat-card-header>
        <div style="border: solid 1px;" cdkDropList
        [cdkDropListData]="done"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
          <div *ngFor="let item of done" cdkDrag>
            <mat-card-content>
              <div class="todoTimeAndtodoItem"> 
                {{item.time}} | <div class="todo"> {{ item.todo}} </div>
              </div>
            </mat-card-content>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="icobt-container">

  
      <button (click)="deleteTodo()" class="deletebt" title="Erledigte todos löschen">
        <mat-icon class="MatIconDelete">delete</mat-icon>
      </button>

        <button mat-mini-fab color="green" id="matbt" class="MatIconDoneBt" title="Änderungen bestätigen"
          (click)="markTodoAsDone()">
          <mat-icon>done</mat-icon>
        </button>
      </div>

    <div class="CreateNewTodo-container">
      <button (click)="MakeTodoFormVisible()" class="addTodoBt" title="Todo erstellen">
        <mat-icon>add</mat-icon></button><br>
      <div class="NewTodoForm" id="NewTodoForm">
        <div class="CreateNewTodoInputs">
          <label for=""> Uhrzeit: </label>
          <input type="time" id="time" class="CreateNewTodoInput" [(ngModel)]="todos.time">
          <p id="timeerr">&nbsp;</p>
          <label for=""> Todo: </label>
          <input id="CreateNewTodo" class="CreateNewTodoInput" type="text" [(ngModel)]="todos.todo">
          <p id="todoerr">&nbsp;</p>
        </div>
        <button (click)="CreateNewTodo()" class="CreateTodoBt"> Todo erstellen</button><br>
      </div>

    </div>
  </div>
  
</body>