/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Playpen Sans', cursive;
}

button {
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Playpen Sans', cursive;

}